<p id="notice"><%= notice %></p>

<h1>Otpforms</h1>

<table>
  <thead>
    <tr>
      <th>Mobile</th>
      <th>Otp received</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @otpforms.each do |otpform| %>
      <tr>
        <td><%= otpform.mobile %></td>
        <td><%= otpform.otp_received %></td>
        <td><%= link_to 'Show', otpform %></td>
        <td><%= link_to 'Edit', edit_otpform_path(otpform) %></td>
        <td><%= link_to 'Destroy', otpform, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to "customers",customers_path%>
<%= link_to 'New Otpform', new_otpform_path %>
